@using Pegaucho.Shared.Entities

@inject NavigationManager Navigation


<EditForm Model="ProductoInventario" OnSubmit="OnSubmit">

<DataAnnotationsValidator/>

<div class="mb-3">

        <div class="mb-3">

            <label>Id</label>
            <div>

                <InputText width="10" @bind-Value="ProductoInventario.Id" />

            </div>

        </div>

    <div class="mb-3">

        <label>Nombre</label>
        <div>

                <InputText width="10" @bind-Value="ProductoInventario.Nombre" />

        </div>

    </div>


    <div class="mb-3">

    <label>Descipcion</label>
    <div>

                <InputText width="10" @bind-Value="ProductoInventario.Descripcion" />

    </div>

</div>
        <label>UnidadMedida</label>
        <div>


            <InputText width="10" @bind-Value="ProductoInventario.UnidadMedida" />

        </div>

    </div>


    <div class="mb-3">

        <label>CostoUnitario</label>
        <div>

            <InputText width="10" @bind-Value="ProductoInventario.CostoUnitario" />

        </div>

    </div>



    <button class="btn btn-primary" type="submit" >Guardar</button>
    <button class="btn btn-success" @onclick="ReturnAction">Regresar</button>


</EditForm>



@code {

    [EditorRequired]
    [Parameter]
    public ProductoInventario ProductoInventario { get; set; }


    [EditorRequired]
    [Parameter]
    public EventCallback OnSubmit { get; set; }


    [EditorRequired]
    [Parameter]
    public EventCallback ReturnAction { get; set; }

}
