@using Pegaucho.Shared.Entities

@inject NavigationManager Navigation


<EditForm Model="ProductoInventario" OnSubmit="OnSubmit">

    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label>Id</label>
        <InputNumber class="form-control" @bind-Value="ProductoInventario.Id" />
    </div>


    <div class="mb-3">
        <label>Nombre</label>
        <InputText class="form-control" @bind-Value="ProductoInventario.Nombre" />
    </div>

    <div class="mb-3">
        <label>Descripción</label>
        <InputText class="form-control" @bind-Value="ProductoInventario.Descripcion" />

    </div>


    <div class="mb-3">
        <label>Unidad de medida</label>
        <InputText class="form-control" @bind-Value="ProductoInventario.UnidadMedida" />

    </div>

    <div class="mb-3">
        <label>Costo unitario</label>
        <InputNumber class="form-control" @bind-Value="ProductoInventario.CostoUnitario" />
    </div>
    


    <button class="btn btn-primary" type="submit">Guardar</button>
    <button class="btn btn-success" type="button" @onclick="ReturnAction">Regresar</button>


</EditForm>



@code {

    [EditorRequired]
    [Parameter]
    public ProductoInventario ProductoInventario { get; set; }


    [EditorRequired]
    [Parameter]
    public EventCallback OnSubmit { get; set; }


    [EditorRequired]
    [Parameter]
    public EventCallback ReturnAction { get; set; }

}
