@using CurrieTechnologies.Razor.SweetAlert2
@using Pegaucho.Shared.Entities
@using Pegaucho.Front.Repositories

@page "/productoinventario/edit/{Id:int}"

@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService swal


<h3>Editar ProductoInventario</h3>

@if (ProductoInventario is null)
{
    <p>Cargando...</p>
}
else
{
    <ProductoInventarioForm @ref="ProductoInventario" ProductoInventario="ProductoInventario" OnSubmit="Edit" ReturnAction="Return" />
}

@code {
    private ProductoInventario ProductoInventario;
    private ProductoInventarioForm ProductoInventarioForm;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var responseHTTP = await repository.GetAsync<ProductoInventario>($"/api/productoinventario/{Id}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("productoinventario");
            }
            else
            {
                var messageError = await responseHTTP.GetErrorMessageAsync();
                await swal.FireAsync("Error", messageError, SweetAlertIcon.Error);
            }
        }
        else
        {
            ProductoInventario = responseHTTP.Response;
        }
    }

    private async Task Edit()
    {
        var responseHTTP = await repository.PutAsync("/api/productoinventario", ProductoInventario);

        if (responseHTTP.Error)
        {
            var mensajeError = await responseHTTP.GetErrorMessageAsync();
            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
          
            navigationManager.NavigateTo("/productoinventario");
        }
    }

    private void Return()
    {
        navigationManager.NavigateTo("/productoinventario");
    }
}
